.info p {
    font-size: 1.8rem;
}

.info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.card-board-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.card-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
    flex-wrap: wrap;
    padding: 20px;
}

@media (max-width: 680px) {
    .card-board {
        gap: 5px;
    }
}