.emblem {
    object-fit: cover;
    width: 120px;
    transform: scale(3);
}

.rank-btn {
    overflow: hidden;
    padding: 10px;
    box-shadow: #32325d1a 0 13px 27px -5px, #00000040 0 8px 16px -8px;
}
